@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
}

body {
	background-color: white;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16pt;
	color: white;
	height: 100%;
	margin:0 auto;
	-webkit-font-smoothing: antialiased;
}

.header{
	background: #FF0205;
	width: 375px;
	height: 100px;
	position: relative;
	left: 0;
	right: 0;
	border-bottom: 4px black solid;
}

.home {
	display: block;
	margin:0;
	float: left;
	padding-top: 20px;
	padding-left: 15px;
	transition: .3s ease-in-out;
}

.papa-johns {
	display: block;
	margin: 0 auto;
	float: left;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.cart {
	display: block;
	margin: 0;
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	transition: .3s ease-in-out;
}

.body {
	position: relative;
	padding-top: 10px;
	left: 0;
	right: 0;
	transition: .2s ease-in;
	width: 375px;
	height: 449px;
	text-align: center;
}

h1 {
	position: relative;
	font-size: 20pt;
	font-style: italic;
	color: black;
}

#cheese {
	display: center;
}

#delivery-original {
	display: center;
}

#carryout-original {
	display: center;
}

#store-original {
	display: center;
}

#delivery-large {
	display: none;
}

#carryout-large {
	display: none;
}

#store-large {
	display: none;
}

#pizza {
	display: center;
}

#sides {
	display: center;
}

#desserts {
	display: center;
}

#drinks {
	display: center;
}

#specials {
	display: center;
}

#pizza-black {
	display: none;
}

#sides-black {
	display: none;
}

#desserts-black {
	display: none;
}

#drinks-black {
	display: none;
}

#specials-black {
	display: none;
}

#pizza-white {
	display: none;
}

#sides-white {
	display: none;
}

#desserts-white {
	display: none;
}

#drinks-white {
	display: none;
}

#specials-white {
	display: none;
}

#page1 {
	display: block;
}

#page2 {
	display: none;
}

.item {
	position: relative;
	left: 0;
	right: 0;
	width: 375px;
	height: 222.5px;
	text-align: center;
	border-bottom: 4px black solid;
}

h2 {
	margin-top: 10px;
	float: right;
	font-weight: bold;
	position: relative;
	font-size: 18pt;
	width: 375px;
	color: black;
}

p {
	font-size: 12pt;
	margin-top: -90px;
	padding-right: 20px;
	float: right;
	width: 175px;
	color: black;
}

h3 {
	margin-top: 10px;
	float: left;
	font-weight: bold;
	position: relative;
	font-size: 18pt;
	width: 375px;
	color: black;
}

#customize {
	display: center;
}

#add-cart {
	display: center;
}

#pepperoni {
	display: center;
}

h4 {
	margin: 0 auto;
	margin-top: -10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	text-align: left;
	font-weight: bold;
	position: relative;
	font-size: 18pt;
	width: 360px;
	color: black;
	background-color: #CDCDCD;
	border-bottom: 4px black solid;
}

.footer {
	background: #206320;
	width: 375px;
	height: 100px;
	position: relative;
	left: 0;
	right: 0;
	border-top: 4px black solid;
}

.contrast {
	display: block;
	margin:0;
	float: left;
	padding-top: 10px;
	padding-left: 60px;
	transition: .3s ease-in-out;
}

.text {
	display: block;
	margin:0;
	float: left;
	padding-top: 10px;
	padding-left: 70px;
	transition: .3s ease-in-out;
}


/* Used from http://lea.verou.me/2013/03/ios-6-switch-style-checkboxes-with-pure-css/ */

input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	margin: 10px 16px;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid black;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;
	height: 30px;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 28px; height: 28px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
	margin-left: -3.0px;
}